<h1>Editing reminder</h1>

<% form_for(@reminder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :prayer_id %><br />
    <%= f.text_field :prayer_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @reminder %> |
<%= link_to 'Back', reminders_path %>