<%= sidebar(render :partial => 'settings')  %>

<h1>Profile Management</h1>

<% form_for(@user, :html => { :multipart => true }) do |f| %>
	<fieldset>
		<div class="formFields">
			<%= f.label :full_name %>
			<%= f.text_field :full_name %>
			<%= error_message_on :user, :full_name, :prepend_text => 'Full Name ' %>
		</div>
		<div class="formFields">
			<%= f.label :location %>
			<%= f.text_field :location %>
			<%= error_message_on :user, :location, :prepend_text => 'Location ' %>
		</div>
		<div class="formFields">
			<%= f.label :email %>
			<%= f.text_field :email %>
			<%= error_message_on :user, :email, :prepend_text => 'Email ' %>
		</div>
		<div class="formFields">
			<%= f.submit 'Update Profile' %>
		</div>
	</fieldset>
	
	<fieldset>
		<div class="formFields">
			<%= f.label :pic %>
			<%= f.file_field :profile_pic %>
			<%= error_message_on :user, :profile_pic, :prepend_text => 'Profile Pic ' %>
		</div>
		<div class="formFields">
			<%= f.submit 'Update Profile' %>
		</div>
	</fieldset>
	
	<fieldset>
		<div class="formFields">
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= error_message_on :user, :password, :prepend_text => 'Password ' %>
		</div>
		<div class="formFields">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
			<%= error_message_on :user, :password_confirmation, :prepend_text => 'Password Confirmation ' %>
		</div>
		<div class="formFields">
			<%= f.submit 'Update Profile' %>
		</div>
	</fieldset>
<% end %>