<div class="meta" id="prayer_<%= prayer.id %>">
	<span class="num_people_praying"><%= pluralize(prayer.num_responses, 'Person', 'People') %></span>  Praying |
	
	<% if current_user.id == prayer.user_id %>
		<%= link_to 'Edit', edit_prayer_path(prayer) %>
		<%= link_to 'Prayer is Answered', answered_path(prayer) %>
	<% else %>
		<% if !current_user.wants_to_be_reminded?(prayer) %>
			<%= render :partial => 'reminders/new', :locals => { :prayer => prayer } %>
		<% end %>
		<%= link_to 'Comments', prayer%>
	<% end %>
</div>