<div class="meta" id="prayer_<%= prayer.id %>">
	
	<% if user_can_edit(prayer) %>
		<%= link_to 'Edit', edit_prayer_path(prayer) %>
		<%= link_to 'Prayer is Answered', answered_path(prayer) %>
	<% end %>
	
  <% if !current_user.wants_to_be_reminded?(prayer) %>
    <%= render :partial => 'reminders/new', :locals => { :prayer => prayer } %>
  <% end %>
  
	<%= link_to 'Comments', prayer%>
</div>