<div class="list prayer">
	<div class="avatar left"><%= profile_pic(prayer.user) %></div>
	<div class="item left"><%= format_output(prayer.prayer) %></div>
	<div class="meta" id="prayer_<%= prayer.id %>">
		<%= pluralize(prayer.num_responses, 'Person', 'People') %>  Praying |
		
		<%= link_to 'I am Praying', new_prayer_path %>
		<%= link_to 'Comments', prayer%>
	</div>
	<div class="clear"></div>
</div>