<%= sidebar(render :partial => 'search')  %>
<%= sidebar(render :partial => 'reminders/box', :locals => { :user => current_user })  %>

<%= render :partial => 'form' %>

<div id="prayers_list">
	<%= render :partial => 'complete', :collection => @prayers %>
	<% if @prayers.count == 0 %>
	 <%= render :partial => 'nothing_found' %>
	<% end %>
	
	<% unless @prayers.next_page.nil? %>
		<div id="pagination">
			<%= link_to "More Prayers", prayers_path, :class => 'round more' %>
		</div>
	<% end %>
</div>