<%= sidebar(render :partial => 'search')  %>
<%= sidebar(render :partial => 'reminders/box', :locals => { :user => current_user })  %>

<% if current_user %>
	<%= render :partial => 'form' %>
<% end %>

<div id="prayers_list">
	<%= render :partial => 'complete', :collection => @prayers %>
	
	<% unless @prayers.next_page.nil? %>
		<div id="pagination">
			<%= link_to "More Prayers", prayers_path, :class => 'round more' %>
		</div>
	<% end %>
</div>