<h1>Login</h1>

<% form_for @user_session do |f| %>
	<fieldset>
		<div class="formFields">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="formFields">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
	</fieldset>
	<div class="formFields submit">
		<%= f.submit "Login" %> or <%= link_to 'Register', register_path %>
	</div>
<% end %>