<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Deesis | <%= @page_title || 'We Mean Prayer' %></title>
<meta name="keywords" content="Prayer, Small Groups, Churches, Community" />
<meta name="description" content="Deesis is a website community built to encourage and support prayer in churches and small groups." />
<%= stylesheet_link_tag 'base' %>
<%= javascript_include_tag 'jquery', 'plugins', 'application' %>
<%= yield(:head) %>
</head>
<body>
<% if current_user %>
<div id="header">
	<div class="wrapper">
		<h1 id="logo" class="left">Deesis</h1>
		<div id="user_login" class="right">
			<%= link_to current_user.name_or_username, edit_user_path(:current) %> | 
			<%= link_to "Logout", logout_path %>
		</div>
		<div class="clear">
			<div class="tabs left">
				<%= navigation [:prayers, :articles, :community] -%>	
			</div>
			<div class="tabs right">
				<%= navigation [{:profile => account_path}, {:settings => root_url}] -%>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<% end %>
<div class="wrapper">
	<div id="notice" <% if !flash[:notice] %>style="display:none"<% end %>>
		<% if flash[:notice] %>
			<%= flash[:notice]%>
		<% end %>
	</div>
	<div id="content" class="left">
		<div class="listing_small">
			<%= yield %>
		</div>
	</div>